@*@model CRMProject.ViewModels.Admin.TaskListViewModel*@
 

<a class="btn btn-default btn-sm"
   data-modal-form="true"
   data-modal-size="modal-lg"
   data-modal-append="tbody#taskList"
   data-modal-title=" Boş görev ekle"
   data-hook-beforeunload="true"
   href="@Url.Action("AddTask", "Task", routeValues: new {Area =string.Empty})">
    <i class="fa fa-plus"></i>Boş görev ekle
</a>


<!-- Modal -->
@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Kaydet", "Task", FormMethod.Post))
                {
                   
                        <div class="form-group">
                            @Html.LabelFor(x => x.taskSet.ProblemSet.Name)
                            @Html.DropDownListFor(x => x.taskSet.ProblemId, new SelectList(Model.ProblemSets, "Id", "Name", Model.taskSet.ProblemId), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.taskSet.Roles.Role)
                            @Html.DropDownListFor(x => x.taskSet.RoleId, new SelectList(Model.Roles, "Id", "Role", Model.taskSet.RoleId), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                        @Html.LabelFor(x => x.taskSet.Users.UserName)
                    @Html.DropDownListFor(x => x.taskSet.UserId, new SelectList(Model.Users, "Id", "UserName", Model.taskSet.UserId), new { @class = "form-control" })
                </div>
                        @Html.HiddenFor(m => m.taskSet.Id)
            <div class="modal-footer">
                @if (Model.taskSet.Roles.Role == ViewBag.role)
                {
                    <button type="submit" class="btn btn-default">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                }
            </div>

                }
            </div>

        </div>
    </div>
</div>*@
