@model CRMProject.ViewModels.Admin.UserAddViewModel
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
<div class="row">
    @Html.HiddenFor(x => x.Id)
    @Html.DisplayNameFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)

    @Html.DisplayNameFor(x => x.Password)
    @Html.TextBoxFor(x => x.Password, new { type = "password" })

    @Html.DisplayNameFor(x => x.Role)

    @for (int i = 0; i < Model.Roles.Count(); i++)
    {
    <div class="col-md-3">
        @Html.HiddenFor(x => Model.Roles[i].Id)
        @Html.HiddenFor(x => Model.Roles[i].Name)

        <div class="form-group">
            @Html.Label(Model.Roles[i].Name)
            @Html.CheckBoxFor(x => Model.Roles[i].IsSelected)
        </div>
    </div>




    }
    <button type="submit">Kaydet</button>
</div>
   
}

